<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/board/mainList">Board</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a sec:authorize="isAnonymous()" class="nav-link" href="/users/create">회원가입</a>
                </li>
                <li>
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/users/mypage}">마이 페이지</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/users/login}">로그인</a>
                    <a sec:authorize="isAuthenticated()" class="nav-link" href="javascript:;"
                       onclick="this.nextElementSibling.submit();">로그아웃</a>
                    <form sec:authorize="isAuthenticated()" method="POST" hidden th:action="@{/users/logout}"></form>
                </li>
                <li>
                    <a class="nav-link" th:href="@{/board/list/qna}">게시판 리스트</a>
                </li>
                <li >
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/message/send}">쪽지 보내기</a>
                </li>
                <li>
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/message/recevie/list}">쪽지 수신함</a>

                </li>

                <!-- 로그인 상태 -->
                <div sec:authorize="isAuthenticated()">
                    <!--관리자 페이지-->
                    <div sec:authorize="hasRole('ADMIN')">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="/admin">관리자 페이지</a></li>
                            <li class="nav-item"><a class="nav-link" href="/admin/user_list">유저 관리 페이지</a></li>
                            <li class="nav-item"><a class="nav-link" href="/admin/deleteUsers/user_list">삭제 유저 관리 페이지</a></li>
                            <li class="nav-item"><a class="nav-link" href="/admin/deleteBoard/list/qna">삭제 게시글 관리 페이지</a></li>
                        </ul>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>